@using TesteTecnicoTechNation.Application.DTOs
@model IEnumerable<NotaFiscalDTO>

@{
	ViewData["Title"] = "Notas fiscais";
}
<head>
	<link href="~/css/Notafiscal/styles.css" rel="stylesheet" />
</head>
<body>
	<div class="pt-5">
		<div class="d-flex flex-column align-items-end">
			<div class="filters d-flex justify-content-end mx-3">
				<div class="tipo_data">
					<label for="tipo_data">Filtrar por:</label>
					<select class="form-select" id="tipo_data">
						<option value="N">Nenhuma</option>
						<option value="E">Data de emissão</option>
						<option value="C">Data de cobrança</option>
						<option value="P">Data de pagamento</option>
					</select>
				</div>
				<div id="seletor_data" class="ms-3">
					<label for="month">Selecione o mês e o ano:</label>
					<input type="month" id="monthDate" class="form-control form-control-month">
				</div>
				<div class="status ms-3">
					<label for="status">Status:</label>
					<select class="form-select" id="status">
						<option value="T">Todos</option>
						@foreach (var item in ViewBag.Status)
						{
							<option value="@item.CD_Status">@item.ST_Nota</option>
						}
					</select>
				</div>
			</div>
			<div class="botoes mx-3 mt-2">
				<button id="filter" class="btn btn-primary">Filtrar</button>
				<button id="clearFilter" class="btn btn-primary">Limpar filtros</button>
			</div>
		</div>
		<div id="menuContainer">
			@Html.Partial("_ListarNotas", Model)
		</div>
	</div>
	<script src="~/js/NotaFiscal/listarNotas.js"></script>
</body>