@model IEnumerable<TesteTecnicoTechNation.Application.DTOs.NotaFiscalDTO>

@{
    ViewData["Title"] = "Notas";
}
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div>
    <h2>@ViewData["Title"]</h2>
</div>
<div>
    <hr />
        <div>
            <label for="tipo_data">Tipo de data:</label>
            <select id="tipo_data">
                <option value="N">Nenhuma</option>
                <option value="E">Data de emissão</option>
                <option value="C">Data de cobrança</option>
                <option value="P">Data de pagamento</option>
            </select>
            <div id="seletor_data">
                <label for="date">Selecione a data:</label>
                <input type="month" id="date">
            </div>
            <label for="status">Status:</label>
            <select id="status">
                <option value="T">Todos</option>
                @foreach (var item in ViewBag.Status)
                {
                    <option value="@item.CD_Status">@item.ST_Nota</option>
                }
            </select>
            <button id="filter">Filtrar</button>
            <button id="clearFilter">Limpar filtros</button>
        </div>
        <div id="menuContainer">
            @Html.Partial("_ListarNotas", Model)
        </div>
</div>
    <script src="~/js/listarNotas.js"></script>
</body>